

.container {
  @apply flex flex-row bg-zinc-500/50 w-full h-24 rounded-lg gap-2 p-2;
}

.item {
  @apply h-full rounded-lg flex justify-center items-center;

  content: '';


  min-width: 2rem;

  aspect-ratio: 3 / 1;

  
}

.item span {
  @apply p-2 rounded-lg;
}

.loading {
  @apply flex bg-zinc-200 text-zinc-800 w-full h-full rounded-md;
  flex: 1;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;

  font-family: var(--font-mono), monospace;

  font-size: 1.75rem;
}